<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/logout">Logout</a>

    {{alluser}}

    <h3>Hi {{loggedinuser.firstname}} {{loggedinuser.lastname}}!</h3>
    <h3>Here are the organizations you may join:</h3>
    <div>
        {%for group in allorg%}
            <a href="/groups/{{group.id}}">{{group.orgname}}</a>
            <p>Members:{{group.member.all.count}}</p>
            <p>{{group.description}}</p>
        {%endfor%}
    </div>
    <div>
    {%for message in messages%}
        <ul>
            <li>{{message}}</li>
        </ul>
    {% endfor %}
        <h4>Create a new organization:</h4>
        <form action="/orgcreate" method="post">
            {% csrf_token %} 
           <p> Org name:<input type="text" name="orgname" id=""></p>
           <p>Description:<input type="text" name="desc" id=""></p> 
           <p><input type="submit" value="Create"></p> 
        </form>
    </div>
</body>
</html>